@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('img2.jpg');
  background-position: center;
  background-size: cover;
  
}

.navbar{
  width: 95%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2.5px rgba(255, 255, 255, 0.4);
}
.navbar h1{
  padding-left: 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  line-height: 70px;
}
#list{
  display: flex;
  /*padding: 10px;*/
  /*background: red;*/
  justify-content: flex-end;
}
#list li{
   line-height: 45px;
   /*margin: 0 30px;*/
  /*background: blue;*/
}
#list li a{
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  padding: 7px 15px;
  transition: .3s;
}
#list li:nth-child(5){
  margin-right: 5px;
}
/*#list li a:hover,
#list li a.act{
  background: green;
  color: #fff;
}*/

/*#list li a.act,*/
#list li a:hover{
  /*background: #2D6C8C;*/
  border: 1px solid #fff;
}

.btn{
  padding: 6px 15px;
  border:1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  background: transparent;
  margin-right: 5px;
  cursor: pointer;
}


@media (max-width: 946px){

.navbar{
  
  /*background-color:rgba(52, 149, 219, 0.4);*/
  
  /*border-bottom: 1px solid #fff;*/
}

.navbar h1{
  padding: 0 50px;
 
/*  z-index: 1;*/
}

.lines{
  padding: 0 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.bars{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

#list{
  position: fixed;
  top: 0;
  width: 60%;
  height: 100%;
  left: -100%;
  background: #183b54;
  padding: 60px 50px 0 0px;
  display: inline-block;
  transition: 0.5s;
  overflow: auto;
}

.div {
  position: fixed;
  top: 80px;
  height: 100%;
  width: 40%;
  background: transparent;
  right: 0;
}

#list.active{
  left: 0;
  transition: 0.5s;
}
#list li{
 
  /*padding-left: 50px;*/
}

#list li a{
  font-size: 18px;
  padding: 8px 30px;
}

.btn{
  padding: 10px 15px;
  margin: 5px;
}
.btn:hover{
  background: #266484;
  color:rgb(0,0,0,0.5);
  
}


/*2  next page */


.nextpage{
  width: 90%;
  margin: 20px auto;
}

.webCard{
  background: #fff;
  box-shadow: 0 0 2.5px rgba(0,0,0,0.28);
  margin-bottom: 20px;
  padding: 10px;
}

.imgDiv{
  height: 200px;
  overflow: hidden;
}

.imgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContain{
  padding: 20px;
  background: #2f3740;
}

.cardContain h1{
  text-transform: capitalize;
  color: #7ea6cf;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.cardContain p{
  text-transform: capitalize;
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cardContain a{
  padding: 4px 12px;
  font-size: 17px;
  color: #fff;
  background: #7ea6cf;
}




}

















































































/*3 next page */


.nextpage3{
  width: 100%;
  height: 100vh;
  background: #7ea6cf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*4 next page */


.nextpage4{
  width: 100%;
  height: 100vh;
  background: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*5 next page */


.nextpage5{
  width: 100%;
  height: 100vh;
  background: #2f3740;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*6 next page */


.nextpage6{
  width: 100%;
  height: 100vh;
  background: #3496db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*footer*/

.fotter{
  width: 100%;
  height: 60px;
  background: #9978c0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
